.Search {
    width: 100%;
    height: 15vh;
    background-color: pink;
    flex-wrap: wrap;
    display: flex;
  }
  
  .clothesContainer {
    width: 170px;
    overflow-y: auto;
  }
  
  .clothingItem {
    width: 170px;
  }